.navbar{
    width: 90%;
    margin: auto;
}
.logo-color{
    width: 170px;
}
.account-icon{
    font-size: 18px;
}
.navbar-end a{
    display: flex;
    align-items: center;
}
.navbar-end span{
    padding-left: 10px;
}
.navbar-end a:hover{
    text-decoration: underline;
    color: #252569;
    font-weight: 500;
}