.register-page{
    background-color: #EBF0F4;
    padding: 20px 0 35px 0;
}
.register-area{
    width: 100%;
    margin: auto;
}
.register-area input{
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.register-container{
    width: 35%;
    margin: auto;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}
.register-area input:focus{
    outline: none;
}
.login-link h5{
    text-align: center;
    margin-bottom: 25px;
}
.login-link a{
    color: #252569;
    font-weight: 500;
}