.product-card{
    background-color: #EBF0F4;
}
.card-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 25px 0;
}
.card img{ 
    margin-left: 30%;
    width: 150px;
}
.card{
    box-shadow: 0 5px 10px #e6e6e66e;
    padding: 10px;
    /* text-align: center; */
    background-color: #fff;

}
.card h6{
    font-weight: 500;
    color: #252569;
}
.card span{
    font-weight: 500;
}
.card h4{
    font-weight: bold;
    color: #252569;
}
.card button{
    background-color: #252569;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card small{
    padding-left: 5px;
}
.card-title-text{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    color: #252569;
}
@media screen and (max-width: 687px)  {
    .card-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 25px 0;
    }
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .card-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 25px 0;
    }
}