.my-profile-container{
    width: 100%;
    margin: auto;
    margin-top: 15px;
}
.label{
    display: flex;
    justify-content: flex-start;
}
.profile-area{
    width: 90%;
    margin: auto;
    display: flex;
    border: 1px solid #f4f4f5;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2px;
}
.profile-input-area{
    padding-left: 12px;
    width: 80%;
}
.profile-input-area input{
    width: 100%;
}
.profile-input-area input:focus{
    outline: none;
}
.email-title{
    width: 20%;
}
.profile-edit-title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    color: #252569;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-edit-title h2{
    padding-left: 5px;
}
.profile-input-area small{
    color: rgb(170, 170, 170);
}
.submit-btn{
    margin-top: 30px;
}
.user-information{
    width: 100%;
}
.user-information h2{
    text-align: center;
    font-size: 18px;
}
.profile-edit-container{
    display: flex;
}
.avatar{
    margin-top: 20px;
    margin-left: 100px;
    padding-bottom: 25px;
}
.profile-info-details{
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 25px;
    justify-items: start;
    grid-template-columns: repeat(3, 1fr);
}
.edit-btn{
    margin-top: 55px;
    margin-left: 30px;
    width: 30%;
    background-color: #252569;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}
.image-edit-btn input{
    /* display: none; */
}